@layer reset, base, navigation, components;

@layer reset {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
    }

    html,
    body {
        width: 100%;
        overflow-x: hidden;
        font-size: 15px;
    }
}

@layer base {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        line-height: 1.6;
    }

    a {
        text-decoration: none;
    }
}

@layer navigation {
    header {
        font-size: 15px;
        line-height: 24px;
        font-weight: 600;
        padding: 1rem 0;
        height: 80px;
        position: absolute;

        nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0 2rem;

            @media (width > 768px) {
                width: calc(90% + 7vw);
            }
            

            .img-pata {
                margin-right: 32px;
                margin-left: 32px;

                @media (width <= 768px) {
                    margin-right: 10px;
                    margin-left: -15px;
                    margin-top: 10px;
                   }
            }

            .logo {
                font-size: 20px;
                font-weight: 700;
                margin-right: -40px;
                margin-left: -20px;
                width: 160px;
                color: rgb(255, 255, 255);

                @media (width <= 768px) {
                 margin-right: 5px;
                 margin-left: 5px;
                 margin-top: 10px;
                }
            }

            .menu {
                font-size: 16px;
                text-align: right;

                @media (width > 768px) {
                    display: none;
                }

                .logo-menu {
                    margin-left: 470px;
                    margin-top: 20px;
                }
            }

            .links-nav {
                display: none;
                list-style: none;
                text-align: right;
                flex-direction: column;    
                justify-content: space-between;
                
                &.active {
                    display: flex;
                }
            
                @media (width <= 768px) {
                    top: 60px;
                    right: 40px;
                    width: 100%;
                    position: absolute;
                }

                @media (width > 768px) {
                    width: 50%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-left: 50px;
                    margin-right: 200px;
                } 

                li {
                    margin: 0;

                    @media (width > 768px) {
                        margin-left: 2rem;
                    }
                }

                a {
                    color: rgba(255, 255, 255, 0.8);
                    display: block;
                    
                    &:hover {
                        color:  rgb(255, 255, 255);
                        transition: 0.2s;
                        font-size: 17px;
                        
                        @media (width <= 768px) {
                            color: rgb(255, 255, 255);
                            width: 100%;
                        }
                    } 

                    @media (width <= 768px) {
                        border-bottom: 1px solid;
                        border-color: rgba(226, 230, 230, 0.705);
                        transition: background 0.3s, color 0.3s;
                        padding: 8px;
                        border-radius: 12px;
                        background-color: rgba(37, 37, 104, 0.493);
                    }

                    @media (width > 768px) {
                        padding: 0;
                    }
                }
             }

             .button-start{
                display: none;
                color: rgba(16, 24, 40, 1);
                text-align: center;
                background-color: rgba(255, 255, 255, 1);
                border-radius: 50px;
                width: 135px;
                height: 44px;
                padding: 11px; 
                   
                
                &:hover {
                    background-color: rgb(240, 241, 243);
                    opacity: 1;
                    transition: 0.2s;
                }
                
                @media (width > 768px) {
                    display: block;
                    margin-left: auto;
                }
             }
        } 
    }
}


@layer components {
    .hero {
        background: 
          linear-gradient(to right, rgba(5, 5, 5, 0.7) 20%, rgba(0, 0, 0, 0) 50%),
          url('img-hero.png');
        background-size: 130%; 
        background-position: 0% 30%;
        background-repeat: no-repeat;
        color: rgb(255, 255, 255);
        padding: calc(5rem + 2vh) 1rem;
        width: 100%;
        height: 120vh;

        @media (width < 768px) {
            background-size: cover;
            background-position: 30% 30%;
        }
        

        h1 {
            font-size: 60px;
            font-weight: 400;
            line-height: 100%;
            width: 630px;
            height: 180px;
            margin: 30px;
        }

        p {
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            width: 630px;
            height: 96px;
            margin: 30px;
            margin-bottom: 50px;
        }

        .cta-button {
            width: 187px;
            height: 64px;
            color: rgb(255, 255, 255);
            border: solid 1px;
            border-radius: 50px;
            margin-left: 30px;
            padding: 16px 28px 16px 28px;
            font-size: 18px;
            font-weight: 600;
            line-height: 28px;

            &:hover {
                background-color: rgb(51, 66, 109);
                opacity: 0.9;
                transition: 0.2s;
            }
            

            .img-pata2 {
                margin-bottom: -10px;
                margin-left: 10px;
            }
        }
    }

    .shop {
        padding: 90px 30px 0px 30px;
        width: 100%;
        display: flex;
        container-type: inline-size;

        h2 {
            font-size: 35px;
            font-weight: 500;
            line-height: 100%;
            color: rgba(16, 24, 40, 1);
            margin-left: 40px;
            
        }
        .img-pata3 {
            width: 32px;
            height: 32px;
            color: rgba(16, 24, 40, 1);
            margin-right: 16px;
        }

        h3 {
            font-size: 35px;
            font-weight: 600;
            line-height: 100%;
            color: rgb(0, 0, 0);
            margin-top: 120px;
            margin-left: -70px;
        }

        .button-search {
            background-color: rgba(244, 244, 244, 1);
            border-radius: 50px;
            font-size: 17px;
            font-weight: 600;
            line-height: 100%;
            color: rgba(16, 24, 40, 0.38);
            padding: 15px 13px;
            width: 280px;
            margin-left: 500px;
            margin-top: -35px;
            display: flex;
            
            .img-lupa {
                width: 18px;
                height: 18px;
                margin-right: 13px;
            }
        }

        .categories {
            font-size: 20px;
            font-weight: 600;
            line-height: 100%;
            justify-content: center;
            color: rgba(0, 0, 0, 0.7);
            gap: 10px;
            margin: 10px 20px;
        }

        .cat {
            background-image: url(images/img-shop1.jpg);
            background-size: cover; 
            background-position: center;
            background-repeat: no-repeat;
            display: block;
            width: 375px;
            height: 447px;
            border-radius: 10px;
            color: white;
            text-align: center;


        .product-value {
            font-size: 25px;
            font-weight: 500;
            line-height: 100%;
            color: rgba(255, 255, 255, 1);
            padding: 30px 20px;
            text-align: left;
          }

          .heart-left {
            display: flex;
            width: 12px;
            height: 21.5px;
            border: 1.5px;
            margin-left: 330px;
            margin-top: -55px;
          }

          .heart-right {
            display: flex; 
            width: 12px;
            height: 21.5px;
            border: 1.5px;
            margin-left: 341px;
            margin-top: -21px;
          }

          h1 {
            font-size: 31px;
            font-weight: 700;
            line-height: 100%;
            width: 370px;
            margin-top: 115px;
          }

          .descrition {
            font-size: 17px;
            font-weight: 400;
            line-height: 100%;
            width: 370px;
            padding-top: 10px;
          }

          .button-quantity {
            width: 95px;
            height: 50px;
            border-radius: 8px;
            padding: 10px 29px;
            font-size: 20px;
            color: white;
            background-image: linear-gradient(rgb(16, 24, 40), rgba(35, 50, 80, 1));
            display: flex;
            margin-top: 110px;
            margin-left: 50px;
          }

          .button-add  {
            padding: 10px 49px;
            font-size: 20px;
            font-weight: 400;
            color: white;
            background-image: linear-gradient(rgb(16, 24, 40), rgba(35, 50, 80, 1));
            border-radius: 8px;
            box-shadow: 10px 4px 2px rgba(0, 0, 0, 0.25);
            display: flex;
            
          }

        }



        
       
    }
}