@layer reset, base, navigation, components;

@layer reset {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
    }

    html,
    body {
        width: 100%;
        overflow-x: hidden;
        font-size: 15px;
    }
}

@layer base {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        line-height: 1.6;
    }

    a {
        text-decoration: none;
    }
}

@layer navigation {
    header {
        font-size: 15px;
        line-height: 24px;
        font-weight: 600;
        padding: 1rem 0;
        height: 80px;
        position: absolute;

        nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0 2rem;

            @media (width > 768px) {
                width: calc(90% + 7vw);
            }
            

            .img-pata {
                margin-right: 32px;
                margin-left: 32px;

                @media (width <= 768px) {
                    margin-right: 10px;
                    margin-left: -15px;
                    margin-top: 10px;
                   }
            }

            .logo {
                font-size: 20px;
                font-weight: 700;
                margin-right: -40px;
                margin-left: -20px;
                width: 160px;
                color: rgb(255, 255, 255);

                @media (width <= 768px) {
                 margin-right: 5px;
                 margin-left: 5px;
                 margin-top: 10px;
                }
            }

            .menu {
                font-size: 16px;
                text-align: right;

                @media (width > 768px) {
                    display: none;
                }

                .logo-menu {
                    margin-left: 150px;
                    margin-top: 20px;
                }
            }

            .buttons {
              justify-content: space-between;
            
            .links-nav {
                display: none;
                list-style: none;
                text-align: right;
                flex-direction: column;    
                
                &.active {
                    display: flex;
                }
            
                @media (width <= 768px) {
                    top: 60px;
                    right: 40px;
                    width: 100%;
                    position: absolute;
                }

                @media (width > 768px) {
                    display: flex;
                    flex-direction: row;
                    margin-left: 40px;
                } 

                li {
                    margin: 0;

                    @media (width > 768px) {
                        margin-left: 2rem;
                    }
                }

                a {
                    color: rgba(255, 255, 255, 0.8);
                    display: block;
                    
                    &:hover {
                        color:  rgb(255, 255, 255);
                        transition: 0.2s;
                        font-size: 17px;
                        
                        @media (width <= 768px) {
                            color: rgb(255, 255, 255);
                            width: 100%;
                        }
                    } 

                    @media (width <= 768px) {
                        border-bottom: 1px solid;
                        border-color: rgba(226, 230, 230, 0.705);
                        transition: background 0.3s, color 0.3s;
                        padding: 8px;
                        border-radius: 12px;
                        background-color: rgba(37, 37, 104, 0.493);
                    }

                    @media (width > 768px) {
                        padding: 0;
                    }
                }
             }

             .button-start{
                display: none;
                color: rgba(16, 24, 40, 1);
                text-align: center;
                background-color: rgba(255, 255, 255, 1);
                border-radius: 50px;
                width: 135px;
                height: 44px;
                padding: 11px; 
                   
                
                &:hover {
                    background-color: rgb(240, 241, 243);
                    opacity: 1;
                    transition: 0.2s;
                }
                
                @media (width > 768px) {
                    display: block;
                    margin-left: 900px;
                    
                }
             }
           }
        } 
    }
}


@layer components {
    .hero {
        background: 
          linear-gradient(to right, rgba(5, 5, 5, 0.7) 20%, rgba(0, 0, 0, 0) 50%),
          url('img-hero.png');
        background-size: 130%; 
        background-position: 0% 30%;
        background-repeat: no-repeat;
        color: rgb(255, 255, 255);
        padding: calc(5rem + 2vh) 1rem;
        width: 100%;
        height: 120vh;

        @media (width < 768px) {
            background: 
                linear-gradient(to right, rgba(5, 5, 5, 0.6) 40%, rgba(0, 0, 0, 0) 120%),
                url('img-hero.png');
            background-size: cover;
            background-position: 28.3%;
            width: 100%;
            height: 80vh;
        }
        

        h1 {
            font-size: 60px;
            font-weight: 400;
            line-height: 100%;
            width: 630px;
            height: 180px;
            margin: 30px;

            @media (width < 768px) { 
                font-size: 30px;
                font-weight: 600;
                line-height: 130%;
                width: 313px;
                height: 117px;
                margin-top: 118px;
                margin-left: 15px;
            }
        }

        p {
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            width: 630px;
            height: 96px;
            margin: 30px;
            margin-bottom: 50px;

            @media (width < 768px) { 
                font-size: 14px;
                font-weight: 600;
                line-height: 20px;
                width: 345px;
                height: 119px;
                margin-top: -10px;
                margin-left: 15px;
                margin-bottom: 115px;
                
            }
        }

        .cta-button {
            width: 187px;
            height: 64px;
            color: rgb(255, 255, 255);
            border: solid 1px;
            border-radius: 50px;
            margin-left: 30px;
            padding: 22px 24px;
            font-size: 18px;
            font-weight: 600;
            line-height: 28px;

            &:hover {
                background-color: rgb(51, 66, 109);
                opacity: 0.9;
                transition: 0.2s;
            }

             @media (width < 768px) {
                margin-left: 15px;
                font-size: 16px;
            }

            .img-pata2 {
                margin-bottom: -10px;
                margin-left: 10px;

                @media (width < 768px) {
                    width: 20px;
                }
            }
        }
    }

    .shop {
        padding: 90px 30px 0px 30px;
        width: 100%;
        display: flex;
        container-type: inline-size;

        @media (width < 768px){
            padding-top: 50px;
        }
        
        .shop-header{
            justify-content: space-between;

            h2 {
                font-size: 35px;
                font-weight: 500;
                line-height: 100%;
                width: 670%;
                color: rgba(16, 24, 40, 1);
                margin-left: 40px;
                padding-bottom: 20px;
                border-bottom: 1px solid #ccc;

                @media (width < 768px){
                    font-size: 20px;
                    width: 920%;
                    margin-left: -10px;
                    padding-bottom: 15px;
                }
            }

            .img-pata3 {
                width: 32px;
                height: 32px;
                color: rgba(16, 24, 40, 1);
                margin-right: 16px;

                @media (width < 768px){
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
        article {
            border: 1px solid #ccc;
            width: 1100px;
            margin-top: 90px;
            margin-left: -90px;

            @media (width < 768px) {
                border: none;
            } 
           

        .title-shop{
            justify-content: space-between;

        h3 {
            font-size: 35px;
            font-weight: 600;
            line-height: 100%;
            color: rgb(0, 0, 0);
            margin-top: 45px;
            margin-left: 30px;
        }

        .button-search {
            background-color: rgba(244, 244, 244, 1);
            border-radius: 50px;
            font-size: 17px;
            font-weight: 600;
            line-height: 100%;
            color: rgba(16, 24, 40, 0.38);
            padding: 15px 13px;
            width: 280px;
            margin-left: 800px;
            margin-top: -40px;
            display: flex;
            
            .img-lupa {
                width: 18px;
                height: 18px;
                margin-right: 13px;
            }
        }
    }
        .categories {
            margin-top: 30px;
            margin-left: 300px;

           a {
            font-size: 20px;
            font-weight: 600;
            line-height: 100%;
            color: rgba(0, 0, 0, 0.7);
            margin: 20px;
          }
        }

        #cat, #cat-food, #dog-food, #pet-plate, #bird-water, #dog-water{
            .product-value {
                display: block;
                font-size: 18px;
                font-weight: 500;
                line-height: 100%;
                color: rgba(255, 255, 255, 1);
                padding: 23px 13px;
                text-align: left;
              }

              .heart-left {
                display: block;
                width: 15px;
                height: 15px;
                border: 1.5px;
                margin-left: 214px;
                margin-top: -40px;
              }
    
              .heart-right {
                display: block; 
                width: 15px;
                height: 15px;
                border: 1.5px;
                margin-left: 222px;
                margin-top: -15px;
              }
    
              h1 {
                display: block;
                font-size: 20px;
                font-weight: 700;
                line-height: 100%;
                width: 245px;
                margin-top: 78px;
              }
    
              .descrition {
                display: block;
                font-size: 11px;
                font-weight: 400;
                line-height: 100%;
                width: 250px;
                padding-top: 7px;
              }
    
              .button-quantity {
                width: 65px;
                height: 35px;
                border-radius: 8px;
                padding: 6px;
                font-size: 14px;
                color: white;
                background-image: linear-gradient(rgb(16, 24, 40), rgba(35, 50, 80, 1));
                display: block;
                margin-top: 78px;
                margin-left: 35px;
              }
    
              .button-add  {
                width: 110px;
                height: 35px;
                padding: 7px;
                font-size: 13px;
                font-weight: 400;
                color: white;
                background-image: linear-gradient(rgb(16, 24, 40), rgba(35, 50, 80, 1));
                border-radius: 8px;
                box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
                display: block;
                margin-top: -35px;
                margin-left: 110px;
            }
        }

        .cat{
            background-image: 
                linear-gradient(rgba(16, 24, 40, 0.54) 100%, transparent 0%),
                url(images/img-shop1.jpg);
            background-size: cover; 
            background-position: center;
            background-repeat: no-repeat;
            display: block;
            width: 250px;
            height: 310px;
            border-radius: 10px;
            color: white;
            text-align: center;
       }

        .cat-food {
            background-image: 
                linear-gradient(rgba(16, 24, 40, 0.54) 100%, transparent 0%),
                url(images/img-shop2.jpg);
            background-size: cover; 
            background-position: center;
            background-repeat: no-repeat;
            display: block;
            width: 250px;
            height: 310px;
            border-radius: 10px;
            color: white;
            text-align: center;
         }

        .dog-food {
            background-image: 
                linear-gradient(rgba(16, 24, 40, 0.54) 100%, transparent 0%),
                url(images/img-shop3.jpg);
            background-size: cover; 
            background-position: center;
            background-repeat: no-repeat;
            display: block;
            width: 250px;
            height: 310px;
            border-radius: 10px;
            color: white;
            text-align: center;
        }     

        .pet-plate{
            background-image: 
                linear-gradient(rgba(16, 24, 40, 0.54) 100%, transparent 0%),
                url(images/img-shop4.png);
            background-size: cover; 
            background-position: center;
            background-repeat: no-repeat;
            display: block;
            width: 250px;
            height: 310px;
            border-radius: 10px;
            color: white;
            text-align: center;
        }

        .bird-water{
            background-image: 
                linear-gradient(rgba(16, 24, 40, 0.54) 100%, transparent 0%),
                url(images/img-shop5.png);
            background-size: cover; 
            background-position: center;
            background-repeat: no-repeat;
            display: block;
            width: 250px;
            height: 310px;
            border-radius: 10px;
            color: white;
            text-align: center;
        }

        .dog-water {
            background-image: 
                linear-gradient(rgba(16, 24, 40, 0.54) 100%, transparent 0%),
                url(images/img-shop6.png);
            background-size: cover; 
            background-position: center;
            background-repeat: no-repeat;
            display: block;
            width: 250px;
            height: 310px;
            border-radius: 10px;
            color: white;
            text-align: center;
        }

        .button-view {
            font-size: 18px;
            font-weight: 600;
            line-height: 100%;
            color: rgba(16, 24, 40, 1);
            display: flex;
            justify-content: right;
            margin: 30px 20px;
            
        }
   }
}
